.users--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  min-height: 550px;
  position: relative;
}

.users--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1050px;
  position: relative;
  padding-bottom: 50px;
}

.loading--container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999; 
}

.loading--container .chakra-spinner {
  color: white;
}

.users--content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  height: 10px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(
    45deg,
    rgb(48, 126, 214) 0%,
    rgb(54, 184, 207) 100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.users--table {
  width: 100%;
  max-width: 1045px;
  border-collapse: collapse;
  margin-top: 10px;
}

.users--table th,
.users--table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.users--table th {
  background-color: rgb(182, 180, 180);
}

.users--table td {
  background-color: #fff;
  color: #54667a;
}
