.examMainContaioner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  min-height: 550px;
  position: relative;
}

.examMainContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1050px;
  position: relative;
  padding-bottom: 50px;
}

.examMainContent__header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  height: 10px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(
    45deg,
    rgb(48, 126, 214) 0%,
    rgb(54, 184, 207) 100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.examMainContent__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 10px;
  border-radius: 5px;
  margin-top: 8px;
}

.examMainContent__content-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: #fff;
  color: #54667a;
  padding: 10px;
  height: 11rem;
  font-size: 16px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.examMainContent__content-items h1 {
  color: #000;
  font-size: 22px;
  text-decoration: underline;
}

.paginationContainer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
