.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #edf1f5;
  overflow: scroll;
}

.signup-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  border: inherit 1px solid;
  border-radius: 10px;
  background-color: #fff;
  max-width: 950px;
  width: 100%;
  margin: 1.2rem;
}

.signup-header {
  text-align: center;
  color: #043133;
  font-weight: 500;
}

.signup-form {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  max-width: 330px;
  width: 100%;
}

.signup-container label {
  margin-bottom: 1px;
  color: #4d5959;
}

.signup-container input {
  padding: 6px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #838383;
  background-color: #eff0f2;
}

.signup-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.signup-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signup-form__btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.signup-form__btn button {
  border-radius: 5px;
  width: 50%;
  height: 32px;
  background-color: #007074;
  color: #fff;
  border-style: none;
  margin-bottom: 10px;
}

.signup-link {
  color: #007074;
  text-decoration: none;
}

.signup-link:hover {
  color: #007074;
  text-decoration: underline;
}

.signup-container select {
  border: 1px solid #ccc;
  background-color: #eff0f2;
  border-radius: 5px;
}

@media (max-width: 730px) {
  .signup-pic {
    display: none;
  }

  .signup-container {
    grid-template-columns: 1fr;
  }

  .login-link__content {
    font-size: 17px;
  }

  .signup-form {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  .signup {
    font-size: 16px;
  }

  .signup-container input {
    padding: 3px;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 15px;
    color: #838383;
    background-color: #eff0f2;
  }

  .signup-form__btn {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .signup-form__btn button {
    border-radius: 5px;
    width: 48%;
    height: 50%;
    background-color: #007074;
    color: #fff;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 10px;

  }
}
