.examFeedback--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
  height: 100vh;
  position: relative;
  padding-inline: 10px;
}

.examFeedback--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1050px;
  position: relative;
  padding-bottom: 50px;
}

.examFeedback--content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  height: 10px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(
    45deg,
    rgb(48, 126, 214) 0%,
    rgb(54, 184, 207) 100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
