.mobileMenu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mobileMenu h1 {
  display: flex;
  font-family: "Iwona", sans-serif;
  justify-content: center;
  padding: 15px;
  font-size: 28px;
}
.menu-icon-wrapper {
  display: flex;
  justify-content: end;
  padding-right: 10px;

}
.menu-icon {
  color: black;
  font-size: 30px;
}
