.results--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 93vh;
  padding: 10px;
}

.results--content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1050px;
  position: relative;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.results--content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  height: 10px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(
    45deg,
    rgb(48, 126, 214) 0%,
    rgb(54, 184, 207) 100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.results--table {
  width: 100%;
  max-width: 1045px;
  border-collapse: collapse;
  margin-top: 10px;
}

.results--table th,
.results--table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.results--table th {
  background-color: rgb(182, 180, 180);
}

.results--table td {
  background-color: #fff;
  color: #54667a;
}

.results--content__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results--content__empty img {
  width: 200px;
  margin-top: 85px;
  margin-bottom: 10px;
}

.results--content__empty p {
  font-weight: bold;
  text-align: center;
}

@media (max-width: 425px) {
  .results--content__empty img {
    width: 150px;
  }
}
