.sidebar-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

ul {
  color: #54667a;
  width: 100%;
}

li {
  font-size: 18px;
  font-weight: 300;
  list-style-type: none;
  padding: 15px;
  cursor: pointer;
  width: 100%;
}

li:hover {
  background-color: #edf1f5;
}

span {
  font-size: 20px;
}

@media (max-width: 768px) {
  .sidebar-navigation span {
    display: none;
  }

  .sidebar-navigation {
    align-items: stretch;
  }

  
}
