/* .sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;
  background-color: #fff;
  height: 100%;
  margin-top: 8px;
} */


@media (max-width: 768px) {
  .sidebar-nav span {
    display: none;
  }

  .sidebar-nav {
    align-items: stretch;
  }

  
}
