.manage-exams {
  display: flex;
  align-items: flex-start;
  height: 91vh;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
}

.examContent {
  display: flex;
  border: 2px solid #535050;
  padding: 5px 18px;
  margin: 5px;
  border-radius: 5px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.edit-exam__button {
  margin-left: 20px;
}
