.manage-exams {
  display: flex;
  align-items: flex-start;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.examContent {
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
}

.examContent-item {
  display: flex;
  border: 2px solid #2e7d9c;
  padding: 5px 10px;
  margin-bottom: 4px;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  max-width: 625px;
  background-color: #fff;
}

.edit-exam__button {
  margin: 20px;
}

.examSubject {
  color: #000;
  font-size: 22px;
  text-decoration: underline;
}

.examName {
  font-size: 17px;
  color: #000;
}

.examContent__buttons {
  display: flex;
  flex-direction: row;
}

@media (max-width: 420px) {
  .examContent-item {
    flex-direction: column;
  }
}
