

.results--content__header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  height: 10px;
  font-size: 20px;
  color: #fff;
  background-image: linear-gradient(
    45deg,
    rgb(48, 126, 214) 0%,
    rgb(54, 184, 207) 100%
  );
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.results--content {
  display: flex;
  width: 100%;
  max-width: 1050px;
  padding-bottom: 50px;
}

.results--table {
  width: 100%;
  max-width: 1045px;
  border-collapse: collapse;
  margin-top: 10px;
}

.results--table th,
.results--table td {
  padding: 8px;
  text-align: left;
  border: 1px solid #ddd;
}

.results--table th {
  background-color: rgb(182, 180, 180);
}

.results--table td {
  background-color: #fff;
  color: #54667a;
}



@media (max-width: 598px) {
  table.results--table tbody {
    margin-bottom: 10px; /* Adjust this value to set your desired gap size */
  }

  .results--table th {
    background-color: rgb(48, 126, 214);
    border-radius: 5px;
    padding: 20px;
    height: 10px;
    font-size: 20px;
    color: #fff;
    background-image: linear-gradient(
      45deg,
      rgb(48, 126, 214) 0%,
      rgb(54, 184, 207) 100%
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none; /* Remove border for headers in two-column layout */
  }
  
  /* Define styles for table cells in two-column layout */
  .results--table td {
    background-color: #fff;
    color: #54667a;
    border: 1px solid #ddd; /* Add border to table cells in two-column layout */
  }


  .results--table td:first-child {
    background-color: rgb(182, 180, 180);
    width: 35%;
    color: black;
    font-weight: 600;
  }

}
